# Copy to .appstore.env and set secure values (do not commit)
ASC_KEY_ID=REPLACE_ME
ASC_ISSUER_ID=REPLACE_ME
ASC_PRIVATE_KEY_PATH=/absolute/path/to/AuthKey_XXXXXX.p8
IOS_SCHEME=SovereignNodeApp
IOS_WORKSPACE=
IOS_PROJECT=
